@{
    ViewData["Title"] = "Contact Information";
}
<h2> Contact Infromation:</h2> 
<div>
    <p>Name: @ViewBag.NameOne</p>
    <p>Email: @ViewBag.EmailOne</p>
    <p>Discord ID: @ViewBag.DiscordIDOne</p>
</div>

<hr />

<div>
    <p>Name: @ViewBag.NameTwo</p>
    <p>Email: @ViewBag.EmailTwo</p>
    <p>Discord ID: @ViewBag.DiscordIDTwo</p>
</div>

<p> </p>

 <h2> Other Information:</h2>
<div>

</div>