@model MTGDeckBuilder.Models.GameDeck

@{
    ViewData["Title"] = "ViewIndividualDeck";
}

<h1>@Model.DeckName</h1>
<!-- Deck Info -->
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeckFormat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeckFormat)
        </dd>
    </dl>
</div>

<!-- Search Bar -->
<form method="post" asp-action="Edit" asp-route-deckId="@Model.Id" class="row g-3">
    <div class="col-md-4">
        <input type="text" name="cardSearch" class="form-control" placeholder="Search for a card" required />
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">Add Card</button>
    </div>
</form>

<!-- Each Card In The Deck -->
<h3>Cards in this Deck - @Model.DeckCards.Sum(card => card.Quantity)</h3>
<ul style ="list-style-type: none;">
    @foreach (DeckCard card in Model.DeckCards)
    {
        <li>
            <div class="card">
                <img src="@card.GameCard.ImageURL" class="card-img-top" alt="@card.GameCard.Name @card.GameCard.Set">
                <div class="card-body">
                    <h5 class="card-title">@card.GameCard.Name X @card.Quantity</h5>
                    <div class="d-flex justify-content-between">
                        <form method="post" asp-action="AddCardToDeck" asp-route-deckId="@Model.Id" asp-route-cardId="@card.GameCard.MID">
                            <button class="btn btn-primary w-48" type="submit">Add</button>
                        </form>
                        <form method="post" asp-action="RemoveCardFromDeck" asp-route-deckId="@Model.Id" asp-route-cardId="@card.GameCard.MID">
                            <button class="btn btn-danger w-48" type="submit">Remove</button>
                        </form>
                    </div>
                </div>
            </div>  
        </li>
    }
</ul>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="ViewAllDecks">Back</a>
</div>
