@model MTGDeckBuilder.Models.GameDeck

@{
    ViewData["Title"] = "ViewIndividualDeck";
}

<h1>@Model.DeckName</h1>
<!-- Deck Info -->
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeckFormat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeckFormat)
        </dd>
    </dl>
</div>

<!-- Each Card In The Deck -->
<h3>Cards in this Deck - @Model.Cards.Count</h3>
<ul>
    @foreach (var card in Model.Cards)
    {
        <li>
            @card.Name - @card.Type
            <button type="submit" asp-action="RemoveCard" asp-route.deckId="@Model.Id" asp-route.cardId="@card.">Remove</button>
        </li>
    }
</ul>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="ViewAllDecks">Back</a>
</div>
